
<div class="toolbar" role="banner" >
    <h5 style="text-align: center;">Welcome list of Jobs</h5> 
    </div>
    <div class="toolbar1" role="banner" >
      <a routerLink="/register" mat-raised-button color="blue">Sing Up</a>
    
      <a routerLink="/login" mat-raised-button color="blue">Login</a>
      <a routerLink="/home" mat-raised-button color="blue">Home</a>
        
       
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="security.jpg" class="card-img-same-top card-img-same-height" alt="...">
            <div class="card-body">
              <h5 class="card-title">Description Job For (information security)</h5>
              <p class="card-text">Information security is the practice of protecting information by mitigating information risks. 
                It involves the protection of information systems and the information processed, 
                stored and transmitted by these systems from unauthorized access, use, disclosure, disruption, modification or destruction. 
              </p>
              <a routerLink="/register" mat-raised-button color="blue">register</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="hardware.jpg" class="card-img-top card-img-same-height" alt="...">
            <div class="card-body">
              <h5 class="card-title">Description Job For (Hardware)</h5>
              <p class="card-text">Computer hardware includes the physical parts of a computer, such as the case,
                 central processing unit, random access memory, monitor, mouse, keyboard, computer data storage, graphics card, sound card, 
                 speakers and motherboard.</p>
                 <a routerLink="/register" mat-raised-button color="blue">register</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="bussiness.jpg" class="card-img-top card-img-same-height" alt="...">
            <div class="card-body">
              <h5 class="card-title">Description Job For (Business)</h5>
              <p class="card-text">Business is the practice of making one's living or making money by producing or buying and selling products (such as goods and services). 
                It is also "any activity or enterprise entered into for profit."</p>
                <a routerLink="/register" mat-raised-button color="blue">register</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="engineering.jpg" class="card-img-top card-img-same-height" alt="...">
            <div class="card-body">
              <h5 class="card-title">Description Job For (Engineering)</h5>
              <p class="card-text">Engineering is the practice of using natural science, mathematics, 
                and the engineering design process to solve technical problems, increase efficiency and productivity, 
                and improve systems. Modern engineering comprises many subfields which include designing and improving infrastructure
                1. machinery
                2.vehicles 
                3.electronics
                4. materials
                5. energy systems.</p>
                <a routerLink="/register" mat-raised-button color="blue">register</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="soft.webp" class="card-img-top card-img-same-height" alt="...">
            <div class="card-body">
              <h5 class="card-title">Description Job For (Software)</h5>
              <p class="card-text">Software is a set of instructions, data or programs used to operate computers and execute specific tasks.
                 It is the opposite of hardware, which describes the physical aspects of a computer. Software is a generic term used to refer to applications, scripts and programs that run on a device. 
                It can be thought of as the variable part of a computer, while hardware is the invariable part.</p>
                <a routerLink="/register" mat-raised-button color="blue">register</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="acou.jpg" class="card-img-top card-img-same-height" alt="...">
            <div class="card-body">
              <h5 class="card-title">Description Job For (Accounting)</h5>
              <p class="card-text">Accounting, also known as accountancy, is the processing of information about economic entities, such as businesses and corporations. 
                Accounting measures the results of an organization's economic activities and conveys this information to a variety of stakeholders, 
                including investors, creditors, management, and regulators. </p>
                <a routerLink="/register" mat-raised-button color="blue">register</a>
            </div>
          </div>
        </div>
      </div>
      