.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .toolbar1 {
    position: absolute;
    top: 0;
    left: 110;
    right: 110;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .card {
    width: 100%;
  }

  /* Ensure the video inherits the card's dimensions */
  .card-video {
    width: 100%;
    height: auto;
  }
  .card-img-top
  {
    background-image: url('ttt.jpg');
    align-items: center;
    
  }