
<div class="toolbar" role="banner" >
    <h5 style="text-align: center;">welcome to learning Page</h5> 
    </div>
    <div class="toolbar1" role="banner" >
        <a routerLink="/listjob" mat-raised-button color="blue">List Of Jobs</a>
        <a routerLink="/jobsekeer" mat-raised-button color="blue"> job sekeer</a>
        <a routerLink="/home" mat-raised-button color="blue">Home</a>
       
       
    </div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Software</h5>
          <video class="card-video mx-auto" controls> <!-- Center the video horizontally -->
            <source src="assets/What is Programming_  Intro to JS_ Drawing & Animation  Computer programming  Khan Academy.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Accounting</h5>
          <video class="card-video mx-auto" controls> <!-- Center the video horizontally -->
            <source src="assets/Intro Accounting Overview - Basic Accounting (Animation).mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Hardware</h5>
          <video class="card-video mx-auto" controls> <!-- Center the video horizontally -->
            <source src="assets/Computer Science Basics_ Hardware and Software.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <img src="ttt.jpg" class="card-img-top" alt="...">





