<div class="toolbar" role="banner" >
<h5 style="text-align: center;">welcome to Home</h5> 
</div>
<div class="toolbar1" role="banner" >
    <a routerLink="/register" mat-raised-button color="blue">Sing Up</a>
    
    <a routerLink="/login" mat-raised-button color="blue">Login</a>
    <a routerLink="/listjob" mat-raised-button color="blue">List Of Jobs</a>
    <a routerLink="/jobsekeer" mat-raised-button color="blue"> job sekeer</a>
    <a routerLink="/videoinformation" mat-raised-button color="blue"> learning</a>
   
   
</div>




<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col mb-4">
        <div class="card h-100">
            <img src="OIP.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <br>
              <h5 style="color: blue;">List Job</h5> 
             <br>
                <p class="card-text">
                    List of different types of jobs and occupations with pictures and examples. 
                    Talking about work is one of the most common types of conversation in any language and so it is important to be able to recognize and discuss various types of jobs.

                   This might be in order to talk about what you do for work or to be able to talk to others about their jobs as well as being able to understand conversations where careers are being discussed.

                   You can begin your journey to adding English job names to your vocabulary by carefully reading through this section.
                   
                </p>
                
                    
            </div>
        </div>
    </div>
  
    <div class="col mb-4">
        <div class="card h-100">
            <img src="Changes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               
                <br>
                <h5 class="card-title" style="color: blue;">Information about linkedin</h5>
                <br><br>
                <p class="card-text">LinkedIn is the world's largest professional network on the internet. 
                    You can use LinkedIn to find the right job or internship, connect and strengthen professional relationships, 
                    and learn the skills you need to succeed in your career. You can access LinkedIn from a desktop, LinkedIn mobile app, 
                    or mobile web experience.</p>
                    <br><br>
                    <a routerLink="https://www.linkedin.com" mat-raised-button color="blue">www.LinkedIn.com</a>
                    
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
            <img src="sk.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <br>
                <h5 class="card-title" style="color: blue;">Job Sekeer</h5>
                <br><br>
                <p class="card-text">
                    if new job seeker please register your data in this link.
                    After that you can login in this link and see the job for any time.
                </p>
                <br><br>
                
                
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
            <img src="learning.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">learning</h5>
                <br><br><br>
                <p class="card-text">Support by video
                    if need a lot information about any job can visit this link to see some video about this job.
                </p>
                <br><br>
                
                
            </div>
        </div>
    </div>
    
</div>

